.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding-top: 80px;
  /* Space for fixed Header */
  background-color: var(--white);
  min-height: 100vh;
  position: relative;
}